{% extends 'base.html' %}

{% block title %} Products {% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center font-weight-bold mb-4">Our Products</h1>

    <div class="row">
        {% for product in products %}
        <div class="col-12 mb-4 product-card">
            <div class="card flex-row">
                <div class="card-img-wrapper">
                    <img data-src="{{ url_for('static', filename= product.image_url) }}" class="card-img-left lazy-load" alt="{{ product.name }}">
                </div>
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{ product.name }}</h5>
                    <p class="card-text text-muted">{{ product.description }}</p>
                    <p class="price font-weight-bold">Ksh{{ product.price }}</p>
                    <ul class="product-details text-muted">
                        <li><strong>Cal:</strong> {{ product.calories }}</li>
                        <li><strong>Protein:</strong> {{ product.protein }}g</li>
                        <li><strong>Carbs:</strong> {{ product.carbs }}g</li>
                        <li><strong>Fat:</strong> {{ product.fat }}g</li>
                    </ul>
                    <a href="{{ url_for('main.view_product', product_id=product.id) }}" class="btn btn-dark">View Product</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="col-12">
            <p class="text-center">No products available.</p>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Custom Styles -->
<style>
    .card {
        border: 1px solid #ddd;
        border-radius: 10px;
        transition: box-shadow 0.3s;
        background-color: white;
    }

    .card:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    .card-img-wrapper {
        flex: 0 0 40%;
        padding: 15px;
    }

    .card-img-left {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .card-body {
        flex: 1;
        padding: 15px;
    }

    .product-details {
        list-style: none;
        padding: 0;
    }

    .product-details li {
        display: inline-block;
        margin-right: 15px;
    }

    .price {
        font-size: 1.5rem;
        color: #28a745;
    }

    @media (max-width: 768px) {
        .card {
            flex-direction: column;
            text-align: center;
        }

        .card-img-wrapper {
            flex: 0 0 auto;
            width: 100%;
            padding: 0;
        }

        .card-img-left {
            max-width: 100%;
            height: auto;
        }

        .card-body {
            padding: 15px;
        }
    }
</style>

{% endblock %}